<section class="full-height white-section">
        <h2>Compétences</h2>
        <div class="row">
            <div class="card" id="competences">
                <div class="box">
                    <h3 class="dev-color">
                        <span class="material-icons">
                        code
                        </span> Développement
                    </h3>
                    <div class="competences-box">
                        <div>
                            <h4>Languages</h4>
                            <ul class="competences-list">
                                <li><i class="fab fa-php"></i>PHP</li>
                                <li><i class="fab fa-java"></i>Java</li>
                                <li><i class="fab fa-js-square"></i>Javascript</li>
                                <li><i class="fab fa-python"></i>Python</li>
                                <li><i class="fas fa-database"></i>SQL</li>
                                <li><img class="icon" src="assets/img/c++.png" alt="c++-icon"/></i>C++</li>
                                <li><i class="fab fa-html5"></i>HTML</li>
                                <li><i class="fab fa-css3-alt"></i>CSS</li>
                            </ul>
                        
                        </div>
                        <div>
                            <h4>Outils</h4>
                            <ul class="competences-list">
                                <li><i class="fab fa-git-square"></i>Git</li>
                                <li><i class="fab fa-github"></i>Github</li>
                                <li><img class="icon" src="assets/img/vscode.png" alt="code-icon"/>Visual Studio Code</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <span class="vertical-line"></span>

                <div class="box">
                    <h3 class="design-color">
                        <span class="material-icons">
                        draw
                        </span> Design
                    </h3>
                    <div>
                        <h4>Préférences</h4>
                        <ul class="competences-list">
                            <li><i class="fa-solid fa-display"></i>Web Design</li>
                            <li><i class="fa-solid fa-pencil"></i>Logo Design</li>
                            <li><i class="fa-solid fa-paintbrush"></i></i>Illustration</li>
                        </ul>
                        <h4>Outils</h4>
                        <ul class="competences-list">
                            <li><img class="icon" src="assets/img/ps.png" alt="ps-icon"/>Adobe Photoshop</li>
                            <li><img class="icon" src="assets/img/illus.png" alt="illus-icon"/>Adobe Illustrator</li>
                            <li><img class="icon" src="assets/img/figma.png" alt="figma-icon"/>Figma</li>
                        </ul>
                    </div>
               
                </div>
            </div>
        </div>
    </section>
