<section id="contact-box">
    <div class="header">
        <h3> Intéréssé ?</h3>
        <span class="close material-icons">
        close
        </span>
    </div>
    <p>
        Envie de collaborer ?
        <br>
        N'hésitez pas à me contacter !
        Laissez moi un like au passage !
    </p>
    <div class="footer">
        <div>
            <a class="footer-btn navy-btn" href="mailto:vincent.asta1@gmail.com">
                Contactez-moi
            </a>
            <a class="footer-btn" href="assets/files/CV_ASTA_Vincent.pdf" download>
                Mon CV 
            </a>
        </div>
        {% include "partials/like-box.twig" %}
    </div>
</section>