<div id="contact">
    <section>
       <h2>Envie de collaborer ?</h2>
   
        <a href="mailto:vincent.asta1@gmail.com">    <i class="fa-solid fa-paper-plane"></i>Me contacter</a>
    </section>
</div>