<section id="contact-box">
    <div class="header">
        <h3> Intérréssé ?</h3>
        <span class="close material-icons">
        close
        </span>
    </div>
    <p>
        Envie de collaborer ensemble ?
        <br>
        N'hésitez pas à me contacter !
        Laissez moi un like au passage !
    </p>
    <div class="footer">
        <div>
            <button class="footer-btn navy-btn">
                Contactez-moi
            </button>
            <button class="footer-btn">
                Mon CV 
            </button>
        </div>
        {% include "partials/like-box.twig" %}
    </div>
</section>