<footer>
    <span>
        <img id="logo-footer" width="45px" src="assets/img/footer-logo.png" alt="logo-footer">
        © Vincent Asta - 2022
    </span>
    <div class="social-icon">
        <i class="fab fa-github"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-behance"></i>
    </div>
</footer>