<footer>
    <span>
        <img id="logo-footer" src="assets/img/footer-logo.png" alt="logo-footer">
        © Vincent Asta - 2022 | Site web réalisé sans framework
    </span>
    <div class="social-icon">
        <a href="https://github.com/Vixxs?tab=repositories" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.behance.net/vixxgraph" target="_blank"><i class="fab fa-behance"></i></a>
    </div>
</footer>