<header>
    <div id="logo-section">
        <a href="#">
            <img id="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </div>
    <nav>
        <ul>
            <li id="nav-presentation">Présentation</li>
            <li id="nav-parcours">Parcours</li>
            <li id="nav-competences">Compétences</li>
            <li id="nav-projets">Projets</li>
        </ul>
    </nav>
    <i id="menu-mobile" class="fa-solid fa-bars"></i>
</header>