<header>
    <div id="logo-section">
        <a href="#">
            <img id="logo" src="assets/img/logo-home.png" alt="logo">
            <img id="logo-hover" src="assets/img/typo-blanc.png" alt="logo-hover">
        </a>
    </div>
    <nav>
        <ul>
            <li>Présentation</li>
            <li>Parcours</li>
            <li>Compétences</li>
            <li>Portfolio</li>
        </ul>
    </nav>
</header>