<section class="full-height">
    <h2 id="parcours-title">Parcours</h2>
    <div class="row">
        <div class="card parcours">
            <h3 class="">2018 - 2019</h3>
            <p>
                Bac STI2D
            </p>
            <span><span class="material-icons">location_on</span>Marseille, France</span>
        </div>
        <span class="next material-icons">
            chevron_right
        </span>
        <div class="card parcours">
            <h3>2019 - 2021</h3>
            <p>
                DUT Informatique
            </p>
            <span><span class="material-icons">location_on</span>Aix-en-provence, France</span>
        </div>
        <span class="next material-icons">
            chevron_right
        </span>
        <div class="card parcours relative">
            <h3>2021 - 2022</h3>
            <p>
                Licence professionnel Developpeur web<br>
            </p>
            <span>
                <span class="material-icons">location_on</span>Aix-en-provence, France
            </span>
        </div>
        <span class="next material-icons">
            chevron_right
        </span>
        <div class="card parcours relative">
            <span class="in-progress">En cours</span>
            <h3>2022 - 2024</h3>
            <p>
                Master Expert web<br>
            </p>
            <span>
                <span class="material-icons">location_on</span>Aix-en-provence, France
            </span>
        </div>
    </div>
</section>