<section class="full-height white-section">
    <h2 id="projets-title">Projets</h2>
    <div id="projects" class="row ">
        <div class="project">
            <img src="" alt="">
            <h3>Projup</h3>
            <p>Site de référencement de projet, </p>
        </div>
        <div class="project">
            <img src="" alt="">
            <h3>Klash</h3>
            <p>Site de référencement de projet, </p>
        </div>
        <div class="project">
            <img src="" alt="">
            <h3>Vanestarre</h3>
            <p>Site de référencement de projet, </p>
        </div>
        <div class="project">
            <img src="" alt="">
            <h3>Volleybot</h3>
            <p>Site de référencement de projet, </p>
        </div>
        <div class="project">
            <img src="" alt="">
            <h3>IUT Stage</h3>
            <p>Site de référencement de projet, </p>
        </div>
    </div>
</section>