<IfModule !mod_rewrite.c>
   ErrorDocument 500 "mod_rewrite doit etre installé et activé"
</IfModule>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA]