
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    {% block title %}
    <title>Vixx - Portfolio</title>
    {% endblock %}
    {% block meta %}
    <meta name="description" content="Vincent ASTA (Vixx), Developper/Designer junior. Je vous invite à voir mon portfolio et collaborer ensemble."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="twitter:image" content="assets/img/meta.png"/>
    <meta name="twitter:image:src" content="assets/img/meta.png"/>
    <meta name="twitter:site" content="@vixx"/>
    <meta name="twitter:title" content="Vixx - Portfolio"/>
    <meta name="twitter:description" content="Vincent ASTA (Vixx), Developper/Designer junior. Je vous invite à voir mon portfolio et collaborer ensemble."/>
    <meta property="og:title" content="Vixx - Portfolio"/>
    <meta property="og:site_name" content="Vixx"/>
    <meta property="og:image" content="assets/img/meta.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Vincent ASTA (Vixx), Developper/Designer junior. Je vous invite à voir mon portfolio et collaborer ensemble."/>
    <meta name="author" content="Vincent ASTA"/>
    <meta name="copyright" content="Vincent ASTA"/>
    <meta name="language" content="fr"/>
    {% endblock %}
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <link rel="shortcut icon" href="assets/img/logo.png" type="image/x-icon">
    <!-- Place favicon.ico in the root directory -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
    <link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">
    {% endblock %}
    <script src="https://kit.fontawesome.com/a122fb9964.js" crossorigin="anonymous"></script>
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block javascripts %}
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    {% endblock %}
</body>
</html>
