{% extends "base.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/home.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="assets/js/home.js"></script>
{% endblock %}

{% block content %}
    {% include "partials/header.twig" %}
    {% block home %}
        <section id="home">
            <h1 id="home-text">Developper</h1>
            <div id="home-logo" class="hide"> 
                <div id="typo-box">
                    <img src="assets/img/typo.png" alt="logo-name">
                    <span class="triangle"></span>
                </div>
            </div>
            <video id="background-video"autoplay loop muted>
            <source src="assets/video/wave_background.mp4" type="video/mp4" />
            </video>
            <div id="scroll-icon">
                <img src="assets/img/arrow.png" alt="arrow">
            </div>
        </section>
    {% endblock %}

    <section class="full-height">
        <h2 id="presentation-title">Présentation</h2>
        <div class="row align-center">
            <div class="profil-card" id="present">
                <img src="https://randomuser.me/api/portraits/men/22.jpg" class="profil-picture" alt="profil-picture"/>
                <div>
                    <strong>Vincent Asta</strong>
                    <span>(Vixx)</span>
                </div>
                <span>Etudiant / Alternant</span>
                <span>21 ans</span>
                <span><span class="material-icons">
                    location_on
                    </span>Marseille, France</span>
                <span class="line"></span>
                <p>Bonjour et bienvenue sur mon portfolio, <br>Je suis un développeur web junior et graphiste.
                </p>
                <span class="end-line"></span>
                {% include "partials/like-box.twig" %}
            </div>
            <div id="cv">
                <p>Télécharger mon CV</p>
                <div id="download-cv">
                    <a href="assets/files/CV_ASTA_Vincent.pdf" download>
                        <span class="material-icons">
                            save_alt
                        </span>
                        <span class="file-name">
                            CV_ASTA_Vincent.pdf
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include "partials/parcours.twig" %}
    {% include "partials/competences.twig" %}
    {% include "partials/projets.twig" %}
    {# {% include "partials/contact.twig" %} #}
    {% include "partials/footer.twig" %}
    {% include "partials/contact-box.twig" %}

{% endblock %}
