#menu-mobile {
    display: none;
}

#competences {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-shadow: none;
    border: solid 1px #e6e6e6;
    flex-direction: row;
    padding: 0;
}

#competences .box {
    padding: 30px;
    width: auto;
}

#competences h3 {
    margin: 0;
    color: white;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
}

.dev-color {
    background-color: navy;
}

.design-color {
    background-color: purple;
}

#competences h4 {
    font-weight: 500;
}

#logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#logo-section:hover {
    cursor: pointer;
}

#logo {
    width: 35px;
    padding: 10px;
}

#logo-hover {
    background-color: black;
    border-radius: 22px;
    filter: invert();
    transition: 150ms;
    padding: 10px;
    display: none;
    height: 25px;
}

#cv {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 0 20px;
    margin-left: 20px;
    margin-top: 70px;
}

#download-cv {
    margin: 0px 0px 20px;
    color: black;
    font-size: 1em;
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding: 1px;
    text-decoration: none;
    border: 1px solid white;
}

#download-cv .file_name {
    font-size: 0.9em;
}

#download-cv:hover>a {
    border: solid 2px black;
    transition: 150ms;
}

#download-cv>a {
    margin: 0;
    border: solid 2px white;
    border-radius: 5px;
    padding: 10px;
    color: black;
    text-decoration: none;
}

#background-video {
    width: 100%;
    filter: contrast(1.5) brightness(0.7);
    position: absolute;
    top: 30vh;
    z-index: -10;
    animation: rainbow 10s infinite;
}

#name-text {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 600;
    font-size: 40px;
    top: 70px;
    position: absolute;
    width: 100%;
    height: 80vh;
    transition: 100ms;
}

.next {
    color: white;
    align-self: center;
    font-size: 30px!important;
}

#scroll-icon {
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 40px;
    border: solid 2px white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    margin-top: 100px;
}

#scroll-icon:hover {
    cursor: pointer;
    background-color: white;
    transition: 150ms;
}

#scroll-icon:hover>img {
    filter: invert();
}

#scroll-icon img {
    width: 18px;
}

#home {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section::after{
    content: '';
    background:  radial-gradient(circle, rgba(0,20,36,0) 0%, rgba(122,47,235,1) 0%, rgba(0,0,0,0) 59%);
    width: 100%;
    position: absolute;
    right:-50%;
    height: 50%;
    clip-path: ellipse(80px 60px 75px 50px);
} */

#home-text {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-weight: 600;
    top: -20px;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: 100ms;
}

#home-text>* {
    margin: 15px;
}

#home-text::after {
    content: '';
    background-color: white;
    height: 80px;
    width: 2px;
    margin-left: 10px;
}

#home-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100vh;
    transition: 100ms;
}

.hide {
    display: none!important;
}

#typo-box {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

#home-logo img {
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    width: 100px;
}

.triangle {
    margin-top: -20px;
    z-index: -1;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 30px solid white;
    border-right: 40px solid transparent;
    bottom: 0;
}

.in-progress {
    font-size: 0.9em;
    font-weight: 600;
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
}

.in-progress::before {
    content: ' ';
    display: inline-block;
    width: 10px;
    border-radius: 100%;
    height: 10px;
    margin-right: 10px;
    background-color: red;
    border-radius: 100;
    animation: pulse-red 2s infinite;
}

.parcours h3 {
    margin: 0;
}

.relative {
    position: relative;
}

.hide-after::after {
    display: none;
}

.header-switch {
    color: black;
}

.header-switch #logo {
    filter: invert();
}

.header-switch ul li:hover {
    cursor: pointer;
    transition: 100ms;
    border: solid 1px #ddd;
    background-color: rgba(26, 26, 26, 0.068);
}

header {
    z-index: 3;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
    list-style: none;
}

ul {
    list-style: none;
}

header ul li {
    padding: 13px 15px;
    list-style: none;
    border-radius: 5px;
    border: 1px solid transparent;
}

header ul li:hover {
    cursor: pointer;
    transition: 100ms;
    border: solid 1px rgb(143, 143, 143);
    background-color: rgba(26, 26, 26, 0.5);
}

html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 65px;
    position: relative;
    z-index: 1;
    font-weight: 200;
    color: white;
}

.text {
    color: white;
}

h2 {
    width: auto;
    color: white;
    margin-left: 4vw;
    font-weight: 500;
    border: solid 1px rgb(255, 255, 255);
    display: initial;
    padding: 15px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: solid 1px rgb(143, 143, 143);
}

strong {
    font-weight: 600;
}

.progress {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #337ab7;
    transition: width .3s ease;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-height {
    display: flex;
    min-height: 50vh;
    padding: 150px 0;
}

section h2 {
    align-self: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.competences-list {
    padding-left: 15px;
    list-style: none;
}

.competences-list li {
    margin-bottom: 10px;
}

.competences-list i {
    padding-left: 3px;
    width: 23px;
    margin-right: 10px;
    font-size: 20px;
}

.competences-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.competences-box>* {
    margin-right: 40px;
}

.vertical-line {
    width: 1px;
    height: 100%;
    background-color: #ddd;
}

.icon {
    margin: 0;
    margin-right: 10px;
    width: 23px;
    padding-right: 3px;
}

.profil-picture {
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 10px;
    margin-top: -70px;
    margin-bottom: 20px;
    background-color: #ddd;
}

.align-center {
    align-items: center;
}

.profil-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    transition: 0.3s;
    background-color: white;
    color: black;
    margin: 10px;
    width: 350px;
    font-size: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 110px;
}

.profil-card p {
    margin: 0 20px;
    text-align: center;
}

.profil-card strong {
    font-size: 1em;
}

.fs-1 {
    font-size: 1em;
}

.mb-0 {
    margin-bottom: 0;
}

.like-count,
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    line-height: normal;
    height: 26px;
}

.like-box {
    padding: 10px;
    display: flex;
    align-self: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.like-count {
    position: relative;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: auto;
    padding: 0 8px;
}

.like-count::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    top: 8px;
    right: -6px;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
}

.like-btn {
    color: black;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.like-btn:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

#like-btn.liked {
    font-size: 1.2em;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.end-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin-top: 20px;
}

#contact {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#contact section {
    background-color: navy;
    display: flex;
    flex-direction: row;
    width: auto;
    border-radius: 15px;
    background-size: cover;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#contact section h2 {
    margin: 0 70px 0 0;
    padding: 0;
    align-self: unset;
    border: 0;
}

#contact section a {
    text-decoration: none;
    color: navy;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: white;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    color: black;
    height: 70px;
    border-top: solid 1px #e6e6e6;
}

footer>* {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

footer span {
    gap: 10* px;
}

#logo-footer {
    margin-right: 7px;
    width: 45px;
}

.social-icon>i {
    font-size: 1.3em;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
}

.social-icon>i:hover {
    cursor: pointer;
    transition: 100ms;
    background-color: #e6e6e6;
}

.card {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    border-radius: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    transition: 0.3s;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.material-icons {
    font-size: 1.3em;
    vertical-align: middle;
}

.light {
    font-weight: 200;
}

.white-section {
    background-color: white;
    position: relative;
    z-index: 1;
    color: black;
}

.white-section h2 {
    border-color: #e6e6e6;
    color: black;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 300px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 200px;
    padding: 15px 0 30px;
}

.project img {
    width: 200px;
    border-radius: 5px;
}

.project p {
    width: 200px;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 25px;
}

.project a {
    border: solid 1px rgb(16, 187, 0);
    padding: 5px 10px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(16, 187, 0);
}

.project a:hover {
    transition: 50ms;
    color: white;
    background-color: rgb(16, 187, 0);
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 50px;
    text-decoration: none;
    border: solid 1px black;
    color: white;
}

.github:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: solid 1px #e6e6e6;
    transition: 100ms;
}

.github::after {
    content: '';
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
}

.github i {
    font-size: 1.3em;
    margin-right: 15px;
}

.project .dev {
    border: solid 1px rgb(236, 104, 27);
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.8em;
    text-decoration: none;
    color: rgb(236, 104, 27);
}

.project .hover {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    border-radius: 5px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.247);
}

.project .hover>* {
    text-align: center;
    color: white;
    max-width: 200px;
}

@-webkit-keyframes slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes rainbow {
    0% {
        filter: contrast(1.5) brightness(0.7) hue-rotate(70deg);
    }
    25% {
        filter: contrast(1.5) brightness(0.7) hue-rotate(0deg);
    }
    50% {
        filter: contrast(1.5) brightness(0.7) hue-rotate(-70deg);
    }
    75% {
        filter: contrast(1.5) brightness(0.7) hue-rotate(0deg);
    }
    100% {
        filter: contrast(1.5) brightness(0.7) hue-rotate(70deg);
    }
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

@keyframes pulse-navy {
    0% {
        box-shadow: 0 0 0 0 rgba(47, 57, 146, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

@-webkit-keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-left {
    0% {
        -webkit-transform: translateX(-50px) scaleX(1) scaleY(1);
        transform: translateX(-50px) scaleX(1) scaleY(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    header {
        background-color: black;
    }
    .header-switch {
        background-color: white;
        border-bottom: 1px solid #ddd;
    }
    footer>span {
        font-size: 7px;
    }
    #contact-box button,
    #contact-box a {
        margin-right: 5px;
    }
    #contact-box .footer>div:first-child {
        display: flex;
    }
    #contact-box {
        font-size: 0.8em;
    }
    #competences .box {
        width: -webkit-fill-available;
    }
    .full-height {
        padding: 50px 0;
    }
    #projects {
        grid-template-columns: 1fr;
    }
    #background-video {
        top: 30vh;
        transform: scale(2);
        transform-origin: center;
    }
    #home {
        position: relative;
        overflow: hidden;
    }
    #scroll-icon img {
        width: 15px;
    }
    #scroll-icon {
        height: 55px;
        width: 35px;
    }
    h2 {
        padding: 10px 15px;
    }
    .profil-card {
        width: 250px;
    }
    #like-count::after {
        top: 8px;
    }
    .triangle {
        border-top: 25px solid white;
    }
    body {
        font-size: 0.8em;
    }
    #home-logo img {
        padding: 6px;
        border-radius: 11px;
        width: 65px;
    }
    #home-logo {
        top: -75px;
    }
    #home-text {
        font-size: 45px;
    }
    #competences {
        flex-direction: column;
    }
    .row {
        flex-direction: column;
    }
    .next {
        transform: rotate(90deg);
    }
    nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        align-items: center;
    }
    header ul {
        border-radius: 5px;
        margin: 0;
        padding: 0 20px;
        height: auto;
        color: black;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: start;
    }
    header ul li {
        width: 80%;
        padding: 0;
    }
    header ul li::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
        left: 0;
    }
    header ul li:last-child::after {
        display: none;
    }
    #menu-mobile {
        font-size: 1.8em;
        margin-right: 5px;
        display: block;
        padding: 10px;
    }
    #menu-mobile:hover {
        cursor: pointer;
        border-radius: 5px;
        margin-right: 5px;
        background-color: rgba(255, 255, 255, 0.1);
    }
    #logo {
        width: 26px;
        padding: 5px;
    }
    .project {
        width: 50vw;
        padding: 15px 30px 30px;
    }
    #cv {
        margin-left: 0;
    }
}

#contact-box {
    animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    background-color: white;
    color: black;
    margin: 20px;
    border-radius: 5px;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #ddd;
    z-index: 1000;
}

#contact-box p {
    margin: 0;
    padding-top: 0;
}

#contact-box button,
#contact-box a {
    border: 1px solid #ddd;
    color: black;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    padding: 6px;
    margin-right: 10px;
    text-decoration: none;
}

#contact-box button:hover {
    transition: 50ms;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

#contact-box .header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

#contact-box .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

#contact-box>* {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#contact-box .navy-btn {
    background-color: navy;
    color: white;
    border: 1px solid navy;
    animation: pulse-navy 2s infinite;
}

#contact-box .navy-btn:hover {
    border: 1px solid rgb(53, 53, 184);
    background-color: rgb(53, 53, 184);
    transition: 50ms;
    cursor: pointer;
}

#contact-box .footer>div:first-child {
    margin: 0 0 0 20px;
}

#contact-box .footer>div:last-child {
    margin: 0 10px 0 0;
}

#contact-box .close:hover {
    cursor: pointer;
}

#contact-box .header>* {
    padding: 0 20px;
}